
//home page
.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
}

.navbar {
    width: 367px;
}

.main {
    flex: 1;
    overflow-y: auto;
}