@import "normalize.scss";
@import "layout.scss";
@import "typography.scss";

@import "goal-list.scss";

@import "task-list.scss";

@import "timer.scss";
 
$lightBlue: #9EB2F8;
$darkBlue: #3560FA;
$lightGrey: #EAEAEA;
$lightGreen: #72E59A;