


#taskform{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#taskform label{
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

#taskform input{
width: 300px;
margin-bottom: 0px;

}

#taskform button, #priorityInput{
    padding: 10px;
    width: 170px;
    margin-left: 20px;
    background: white;
    color: #1c1c1c;
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;

    &:hover{
        background-color: #3560FA;
        color: white;
    }
}